/* RESETS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
}

/* GENERAL */

@font-face {
    font-family: "Sysfont";
    src: url("fonts/sysfont.woff2") format("woff2"),
    url("fonts/sysfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    font-family: "jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #c5efea;
    line-height: 1.25;
}

header {
    margin-bottom: 1rem;
}

h1 {
    font-family: "Sysfont", sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
}

main {
    margin: max(2.5%, 0.5rem);
}

/* IMAGES */

img {
    display: block;
}

img#home-image {
    width: 100%;
}

section.gallery {
    background-color:#107c6f;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}

section.gallery figure {
    background-color: #91d8d0;
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: calc((100% - 3*0.75rem)/4);
    z-index: 1;
    box-shadow: 0 0 0.5rem 0.25 #08322d00;
    transition: 0.2s ease-in-out transform,
                0.2s ease-in-out box-shadow;
}

section.gallery figure:nth-of-type(1n) {
    transform: rotate(2deg);
}
section.gallery figure:nth-of-type(2n) {
    transform: rotate(-0.5deg);
}
section.gallery figure:nth-of-type(3n) {
    transform: rotate(-1.5deg);
}
section.gallery figure:nth-of-type(4n) {
    transform: rotate(1deg);
}

section.gallery figure:hover {
    transform: rotate(0deg) scale(1.1);
    z-index: 10;
    box-shadow: 0 0 0.5rem 0.25rem #08322daa;
}

figcaption {
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

@media screen and (width < 1000px) {
    section.gallery figure {
        width: calc((100% - 2*0.75rem)/3);
    }
}
@media screen and (width < 768px) {
    section.gallery figure {
        width: calc((100% - 0.75rem)/2);
    }
}
@media screen and (width < 500px) {
    section.gallery figure {
        width: 100%
    }
}

/* TEXT */

p {
    margin-block: 1rem;
}

/* NAV */

nav ul.nav-menu, nav ul.sub-menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

nav ul.nav-menu li {
    position: relative;
}

nav ul.sub-menu {
    display: none;
}

nav ul.nav-menu li:hover ul.sub-menu {
    display: block;
    position: absolute;
    width: max-content;
}

nav ul li {
    list-style: none;
}

nav a {
    background: #3f9c91;
    display: block;
    color: #91d8d0;
    text-decoration: none;
    padding: 0.75rem 1rem;
}

nav a.active {
    background: #107c6f;
}

nav a.menu-icon {
    display: none;
    padding: 0.5rem;
}

nav a:hover {
    background: #91d8d0;
    color: #3f9c91;
}

@media screen and (width < 500px) {
    nav ul.nav-menu, nav ul.sub-menu {
        display: none;
    }

    nav a.menu-icon {
        background: none;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
    }

    /* This code isn't relavent since clicking on this "X" wouldn't close the menu
    since we used hovers and not buttons, and this would just re-hover on the element.
    
    nav li.nav-container:hover a.menu-icon {
        visibility: hidden;
    }

    nav li.nav-container:hover a.menu-icon::after {
        content: url("images/x_menu.svg");
        display: block;
        visibility: visible;
        position: absolute;
        top: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
    } */

    nav a.menu-icon img {
        width: 100%;
        height: 100%;
    }

    nav li.nav-container:hover ul.nav-menu {
        display: block;
    }

    nav ul.nav-menu li:hover ul.sub-menu {
        display: block;
        position: static;
        width: 100%;
    }

    nav ul.sub-menu li a {
        padding-left: 2rem;
    }
}