/* RESETS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #000000;
}

/* GENERAL */

:root {
    --background-color: #a2e6db;
    --menu-color-default: #b2b7bb;
    --menu-color-active: #83898b;
    --menu-color-hover: #ccd5d6;
    --menu-color-gallery: #b2b7bb;
}

@font-face {
    font-family: "Sysfont";
    src: url("fonts/sysfont.woff2") format("woff2"),
    url("fonts/sysfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    font-family: "jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-color);
    line-height: 1.25;
}

main {
    margin: min(2.5%, 1rem);
    margin-top: min(6.25vh, 18.75vw, 3.4375rem);
}

h1 {
    font-family: "Sysfont", sans-serif;
    font-size: min(11.25vh, 11.25vw, 3rem);
    text-align: center;
    position: relative;
}

h1::before, h1::after {
    content: attr(glitch-text);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
}
h1::after {
    color: #00a9cb;
    transform: translate(0.037em, -0.037em);
}
h1::before {
    color: #ff16ad;
    transform: translate(-0.037em, 0.037em);
}

h2 {
    font-size: min(5.625vh, 5.625vw, 1.5rem);
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.2em;
}

/* IMAGES */

img {
    display: block;
    width: 100%;
}

img.pixels {
    image-rendering: pixelated;
}

figure {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
figure div {
    height: max-content;
}

figure.home-image img {
    width: min(100%, 40rem);
}

figure.timeline-entry {
    width: min(75vw, 20rem);
    position: relative;
}
.timeline-entry:nth-child(2n) {
    justify-self: right;
}
.timeline-entry:nth-child(2n + 1) {
    justify-self: left;
}
figure.timeline-entry figcaption {
    position: absolute;
    width: min(67.5vw, 18rem);
    top: 30%;
    font-size: min(3.75vw, 1rem);
    line-height: 1.5;
}

section.timeline {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
    justify-items: center;
    max-width: 25rem;
    margin-inline: auto;
}

section.gallery {
    padding: 0.75rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
}
section.gallery figure {
    background-color: var(--menu-color-gallery);
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: 0 0 0.5rem 0.25rem #08322d00;
    transition: 0.2s ease-in-out transform,
                0.2s ease-in-out box-shadow;
}
section.gallery figure:hover {
    transform: scale(1.02);
    z-index: 5;
    box-shadow: 0 0 0.5rem 0.25rem #08322d65;
}
section.gallery figure .figure-container {
    aspect-ratio: 1;
}

figcaption {
    padding-top: 0.5rem;
    font-size: 0.875rem;
}
.gallery-subpage figcaption {
    width: min(85vw, 25rem);
    padding-top: 1.25rem;
    margin: auto;
}

@media screen and (width < 1000px) {
    section.gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (width < 768px) {
    section.gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (width < 500px) {
    section.gallery {
        grid-template-columns: 1fr;
    }
}

/* VIDEOS */

.video-container {
    display: flex;
    justify-content: center;
}

.video-container iframe {
    width: min(100%, 100vh);
    aspect-ratio: 16/9;
    border: none;
}

/* TEXT */

p {
    margin-block: 1rem;
    line-height: 1.4;
    max-width: 40rem;
    margin-inline: auto;
}

/* NAV */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav li.nav-container {
    background-color: var(--menu-color-default);
}

nav ul.nav-menu, nav ul.sub-menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

nav ul.nav-menu li {
    position: relative;
}

nav ul.sub-menu {
    display: none;
}

nav ul.nav-menu li:hover ul.sub-menu {
    display: block;
    position: absolute;
    width: max-content;
}

nav ul li {
    list-style: none;
}

nav a {
    background: var(--menu-color-default);
    color: black;
    display: block;
    padding: 0.75rem 1rem;
}

nav a.active {
    background: var(--menu-color-active);
}

nav a.menu-icon {
    display: none;
}

nav a:hover {
    background: var(--menu-color-hover);
}

@media screen and (width < 500px) {
    nav ul.nav-menu, nav ul.sub-menu {
        display: none;
    }

    nav a.menu-icon {
        background: none;
        display: block;
        width: min(5vh, 15vw, 2.75rem);
        height: min(5vh, 15vw, 2.75rem);
        padding: min(1vh, 3vw, 0.55rem);
        position: relative;
    }

    nav a.menu-icon img {
        width: 100%;
        height: 100%;
    }

    nav li.nav-container:hover ul.nav-menu {
        display: block;
    }

    nav ul.nav-menu li:hover ul.sub-menu {
        display: block;
        position: static;
        width: 100%;
    }

    nav ul.sub-menu li a {
        padding-left: 2rem;
    }
}

/* SPECIFIC GALLERY IMAGE CSS */

.cards {
    display: flex;
    align-items: center;
    position: relative;
    height: max-content;
    width: min(100%, 15rem);
}
.cards img {
    padding-inline: 18%;
    width: 100%;
    height: auto;
    z-index: 2;
}
.cards img:first-child, .cards img:last-of-type {
    position: absolute;
    transition: 0.2s ease-in-out transform;
}
.cards img:first-child {
    left: -18%;
    z-index: 1;
}
.cards img:last-of-type {
    left: 18%;
}
figure:hover .cards img:first-child {
    transform: rotate(-4deg);
}
figure:hover .cards img:last-of-type {
    transform: rotate(4deg);
}

.gallery .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: min(100%, 15rem);
    gap: min(10%, 1.5rem);
    padding: min(5%, 0.75rem);
    aspect-ratio: 1;
}
.gallery-subpage .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: min(85vw, 15rem);
    gap: min(6.75vw, 1.125rem)
}
.gallery .icons img {
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out transform;
}
.gallery figure:hover .icons img {
    transform: scale(1.1);
}