/* RESETS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* GENERAL */

@font-face {
    font-family: "Sysfont";
    src: url("fonts/sysfont.woff2") format("woff2"),
    url("fonts/sysfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
}

body {
    font-family: "jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #c5efea;
    line-height: 1.25;
}

header {
    margin-bottom: 1rem;
}

h1 {
    font-family: "Sysfont", sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
}

main {
    margin: max(2.5%, 0.5rem);
}

/* IMAGES */

figure {
    margin-bottom: 1rem;
}

img {
    display: block;
}

figcaption {
    margin-top: 0.2rem;
    font-size: 0.9rem;
}

img#home-image {
    width: 100%;
}

/* NAV */

nav ul ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

nav ul ul li {
    position: relative;
}

nav ul ul li ul {
    display: none;
}

nav ul ul li:hover ul {
    display: block;
    position: absolute;
    width: max-content;
}

nav ul li {
    list-style: none;
}

nav a {
    background: #3f9c91;
    display: block;
    color: #91d8d0;
    text-decoration: none;
    padding: 0.75rem 1rem;
}

nav a.active {
    background: #107c6f;
}

nav a.menu-icon {
    display: none;
    padding: 0.5rem;
}

nav a:hover {
    background: #91d8d0;
    color: #3f9c91;
}

@media screen and (width < 500px) {
    nav ul ul {
        display: block;
    }
    nav a.menu-icon {
        background: none;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
    }
    nav a.menu-icon img {
        width: 100%;
        height: 100%;
    }
    nav > ul > li > ul {
        display: none;
    }
    nav > ul > li:hover > ul {
        display: block;
    }
    nav > ul > li > ul > li:hover > ul {
        display: block;
    }
    nav ul ul li:hover ul {
        position: static;
        width: 100%;
    }
}